{% extends 'main.html' %}

{% block body %}

<body>
    <div class="contact-clean">
        <h1 style="text-align: center;">COVIDAway</h1>
        <form method="POST"> {% csrf_token %}
            <input id="ID" type="hidden" name="user_type" value="distributor">

            <h2 class="text-center">Donate your PPE</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name" maxlength="255"></div>
            <div class="form-group"><input class="form-control" type="text" name="website" placeholder="Website Url" maxlength="255"></div>
            <div class="form-group"><input class="form-control" type="text" name="address" placeholder="Address" maxlength="255"></div>
            <div class="form-group">
                <input class="form-control" type="number" name="nogloves" placeholder="Number of Gloves" min="1" max="2000000000" required>
                <input class="form-control" type="number" name="noshields" placeholder="Number of Face Shields" min="1" max="2000000000" required>
                <input class="form-control" type="number" name="nomasks" placeholder="Number of Face Masks" min="1" max="2000000000" required>
            </div>
            <input class="form-control" type="text" name="desc" placeholder="Description of company" maxlength="5000" required>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>
</body>

{% endblock %}